---
import { SEO } from "astro-seo"
import { type Meta, defaultOpenGraph } from "../meta"
import "../styles/global.scss"
import "../styles/fonts.css"
import colors from "../styles/colors"

export interface Props {
  meta: Meta
}

const { meta } = Astro.props

const stripTrailingSlash = (str: string) =>
  str.endsWith("/") ? str.slice(0, -1) : str

const og = {
  basic: {
    url: stripTrailingSlash(Astro.url.href),
    ...(meta.og ?? defaultOpenGraph),
  },
}
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <SEO title={meta.title} openGraph={og} canonical={og.basic.url} />
  </head>
  <body>
    <slot />
    <style define:vars={colors}></style>
  </body>
</html>
